body{
    text-align: center;
    background-color: lightskyblue;
    background-image: url("https://coolwallpapers.me/picsup/2992474-pixel-art-fantasy-art-digital-art-mountains-castle___mixed-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    border: 1px solid black;
}